:root {
  --white: #bc4123;
  --gray: black;
  --black: #000;
  --green: #00b43f;
  --red: #c02626;
  --blue: #0079BF;
  --light-blue: #bc4123;
  --dark-blue: #0d2435;
    --primary: #bc4123;
  --secondary: #0079BF;
  --bg-color: white;
  --top:#0067A3;
  --text-inner: black;
}
