header {
    background-color: #0067A3;
    height: 80px;
    box-sizing: border-box;
}
/* navbar */
.logout{
    border: medium none;
    background-image: none; 
    background: transparent;
    float: left;
    background-color: transparent;
    box-sizing: border-box;
    height: 33px;
    font-size: 20px;
    color: black;
    text-decoration: none;
    padding: 0 10px;
    border-radius: 4px;
    margin-right: 20px;
}
.logout:hover{
    cursor: pointer;
}
.head_layout {
    box-sizing: border-box;
    padding: 20px auto;
    header nav {
    button {
        box-sizing: border-box;
        height: 33px;
        font-size: 20px;
        color: black;
        text-decoration: none;
        padding: 0 10px;
        border-radius: 4px;
        margin-right: 20px;
    }
        display: flex;
        height: var(--height_head);
        align-items: center;
        max-width: 1235px;
        margin: 0 auto;
    h1 {
        margin-right: auto;
        margin-left: 20px;
        border-bottom: 3px solid var(--primary);
    }
    .active {
      color: black;
      border-bottom: 3px solid var(--primary);
      border-radius: 0;
  }
    a{
    box-sizing: border-box;
      height: 33px;
        font-size: 20px;
        color: black;
        text-decoration: none;
        padding: 0 10px;
        border-radius: 4px;
        margin-right: 20px;

    }
    a:hover {
      color: black;
}

}}
